body {
    background-color: LightGrey;
    background-image: url("https://img.freepik.com/free-vector/smooth-white-wave-background_52683-55288.jpg?w=1380&t=st=1668782516~exp=1668783116~hmac=9482b652109db34985b7e1dc1151d1360c94244de6fd25fab7c9987b2d4aa022");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 