.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 5%;
  border-radius: 4px;
  box-shadow: 0px 4px 7px 0px #969696;
}

.title{
  background-color: white;
  font-size: 2.3vmin;
  margin-bottom: 5%;
}

.form-container{
  display: flex;
  width: 100%;
  height: 50vh;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.input-field{
  background-color: white;
  width: 90%;
  height: 10vh;
  padding: 4%;
  margin-top: 2%;
  border: 1px rgb(155, 155, 155) solid;
  border-radius: 2px;
}

.file-container{
  display: flex;
  margin-top: 5%;
  width: 100%;
}

.fileInput{
  width: 100%;
  height: 100%;
  background-color: white;
  border: #969696 1px solid;
}

button{
  width: 100%;
  height: 20vmin;
  border-radius: 4px;
  margin-top: 4%;
  color: white;
}

.submit{
  background-color: #2f4cad;
}

.clear{
  background-color: #fe2050;
}